#footer {
    background-color: #eceae1;
    .footer{
        padding: 30px;
        padding-top: 30px;
        @extend %section;
        .col-lg-3 {
            text-align: left;
            @extend %body-card;
            ul {
                list-style: none;
                .footer-list {
                    margin: 0;
                    margin-bottom: 3px;
                    a {
                        color: $colorGray !important;
                        text-decoration: none;
                        &:hover {
                            color: $colorMoothRed !important;
                        }
                    }
                }
                padding-bottom: 75px;
            }
        }
        .footer-instagram-facebook {
            color: $colorGray !important;
            font-size: 11px;
            letter-spacing: 0.1em;
            font-family: $first-font;
            font-size: $font-size;
            margin-left: 200px;
            
            a {
                text-decoration: none;
                color: rgba($color: #000000, $alpha: 0.7) !important;
                transition: 0.3s;
                &:hover {
                    color: $colorMoothRed !important;
                }
            }
        }
        .footer-interactive {
            color: $colorGray !important;
            font-size: 11px;
            letter-spacing: 0.1em;
            font-family: $first-font;
            font-size: $font-size;
            
            a {
                text-decoration: none;
                color: rgba($color: #000000, $alpha: 0.7) !important;
                transition: 0.3s;
                &:hover {
                    color: $colorMoothRed !important;
                }
            }
        }
        .footer-img {
            text-align: center;
        }
    }
}
